@import url('https://fonts.googleapis.com/css2?family=Bytesized&display=swap');
* {
    border :1px solid black
}

body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color : black;
    font-size: 30px;
}

p {
    font-family :'Bytesized', serif;
    font-size: 1em;
}


p.bello {
    margin-top: 50px;
    margin-right: 30px;
    margin-bottom: 10px;
    margin-left: 40px;

    margin: 50px,30px,10px,40px;
    border-width: 10px,20px,30px,40px;
    padding: 40px;

    
    width: 100px;
    height: 100px;

    overflow: hidden;

    background-color: aqua;
}

