.box-esercizio {
    width: 300px;
    height: 150px;
    padding: 20px;
    border: 2px solid blue;
    margin: 30px auto;
    box-sizing: border-box; 
    
    /*
    content-box  il padding e il border vengono aggiunti alla dimensione del contenuto
    border-box   in questa modalità larghezza e altezza includono già il padding e il border
    */

    background-color: #f0f0f0;
    color : #333;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);

    background-image: url('https://picsum.photos/300/150');
    background-repeat: repeat;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    /*
    cover L'immagine viene scalata per coprire completamente il contenitore
    countain L'immagine viene scalata per essere interamente visibile all'interno del contenitore

    */

    margin-bottom: 30px;
}

.box-secondo{
    display: flex; /*imposto il display a flex*/
    width: 300px;
    height: 150px;
    padding: 20px;
    border: 3px double green;
    margin: 30px auto;
    box-sizing: border-box; 

    background-image: url('https://picsum.photos/seed/pattern/300/150');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    justify-content: center; /*lo centro orizzontalmente*/
    align-items: center; /*lo centro verticalmente */


    margin-top: 50px; /*i margini tra il div sopra e questo collassano a 50px perche il browser prende il margine maggiore tra i due e lo impone */
}